/CtrlEstrategia.class
/Main.class
/Recomanacio.class
/Valoracio.class
/Usuari.class
/Ctrl_capa_domini.class
/Item.class
/Administrador.class
/Ctrl_domain_layer.class
/StrategyCtrl.class
/Recommendation.class
/Valoration.class
/Administrator.class
/User.class
/CtrlDomainLayer.class
